@import "tailwindcss";

:root {
  --background: #fff8fc;
  --foreground: #1f1235;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-outfit: var(--font-outfit);
  --font-playfair: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #140b24;
    --foreground: #0a0a0a;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
}

/* Elegant Heading Utility */
.heading-font {
  font-family: var(--font-playfair);
}